body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  width: 1440px;
}

h2 {
  font-size: 15px;
}

p {
  color: grey;
  color: hsl(229, 6%, 66%);
  width: 33%;
  margin: auto;
}

img {
  position: absolute;
  margin: 40px 90px;
  width: 40px;
  height: 40px;
}

.box-title {
  color: black;
  color: hsl(234, 12%, 34%);
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
}

.p-box {
  color: grey;
  color: hsl(229, 6%, 66%);
  line-height: 2;
  text-align: left;
  width: 80%;
  font-size: 12px;
}

.h1-plain {
  color: grey;
  font-weight: lighter;
  margin-bottom: 10px;
}

.h1-bold {
  margin-top: 0;
}

div {
  border-top-style: solid;
  border-top-color: cyan;
  border-top-color: hsl(180, 62%, 55%);
  border-top-width: thick;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0,0,0,0.15);
  position: absolute;
  height: 200px;
  width: 300px;
  margin: 170px 250px;
}

.top-container {
  border-top-color: red;
  border-top-color: hsl(0, 78%, 62%);
  margin: 50px 575px;
}

.bottom-container {
  border-top-color: orange;
  border-top-color: hsl(34, 97%, 64%);
  margin: 280px 575px;
}

.right-container {
  border-top-color: blue;
  border-top-color: hsl(212, 86%, 64%);
  margin: 170px 900px;
}

.attribution {
  font-size: 11px;
  position: absolute;
  margin: 530px 475px;
  color: purple;
  color: hsl(228, 45%, 44%);
}
